<%- include('../partials/head-admin')%>

  <body class="body-add">
    <section class="container-formAdd boxShadow">
      <h2>Agregar Producto Nuevo</h2>
      <div class="errorsJs">
        <ul></ul>
      </div>
      <form action="/admin/create" method="POST" enctype="multipart/form-data" id="formProduct">
        <section class="form-group">
          <div>
            <div>
              <label for="nameBook" class="label-filter">Nombre del libro</label>
              <input id="nameBook" type="text" name="nameBook" class="input-filter"
                placeholder="Ingresa nombre del libro"
                value="<%= locals.oldData && oldData.nameBook ? oldData.nameBook :''%>">
              <% if(locals.errors && errors.nameBook){%>
                <div class="alert-danger">
                  <%= errors.nameBook.msg %>
                </div>
                <%} %>
            </div>
            <div>
              <label for="author" class="label-filter">Autor(a)</label>
              <select name="author" placeholder="Ingresa autor(a) de libro" class="input-filter">
                <% for (let i=0; i < autores.length; i++) {%>
                  <option value="<%= autores[i].idAuthor%>" <%=locals.oldData && oldData.author==autores[i].nameAuthor+' '+autores[i].surnameAuthor
                    ? ' selected' : '' ; %> >
                    <%= autores[i].nameAuthor+' '+autores[i].surnameAuthor%>
                  </option>
                  <% } %>
              </select>
              <% if(locals.errors && errors.author){%>
                <div class="alert-danger">
                  <%= errors.author.msg %>
                </div>
                <%} %>
            </div>
            <div>
              <label for="price" class="label-filter">Precio</label>
              <input type="number" name="price" id="price" class="input-filter" placeholder="Ingresa precio del libro sin IVA"
                value="<%= locals.oldData && oldData.price ? oldData.price :''%>">
              <% if(locals.errors && errors.price){%>
                <div class="alert-danger">
                  <%= errors.price.msg %>
                </div>
                <%} %>
            </div>
            <div>
              <label for="publisher" class="label-filter">Editorial</label>
              <input type="text" name="publisher" class="input-filter" placeholder="Nombre de la editorial"
                value="<%= locals.oldData && oldData.publisher ? oldData.publisher :''%>">
              <% if(locals.errors && errors.publisher){%>
                <div class="alert-danger">
                  <%= errors.publisher.msg %>
                </div>
                <%} %>
            </div>
            <div>
              <label for="format" class="label-filter">Formato</label>
              <select name="format" class="input-filter">
              <% for (let i=0; i < formatos.length; i++) {%>
                <option value="<%= formatos[i].idFormat%>"  <%=locals.oldData &&
                  oldData.format==formatos[i].nameFormat ? ' selected' : '' ; %> >
                      <%= formatos[i].nameFormat%>
                  </option>
                  <% } %>
              </select>
              <% if(locals.errors && errors.format){%>
                <div class="alert-danger">
                  <%= errors.format.msg %>
                </div>
                <%} %>
            </div>
            <div>
              <label for="category" class="label-filter">Categoria</label>
              <select name="category" id="category-book" class="input-filter">
                <% for (let i=0; i < categorias.length; i++) {%>
                  <option value="<%= categorias[i].idCategory%>" <%=locals.oldData &&
                    oldData.category==categorias[i].nameCategory ? ' selected' : '' ; %> >
                    <%= categorias[i].nameCategory%>
                  </option>
                  <% } %>
              </select>
              <% if(locals.errors && errors.category){%>
                <div class="alert-danger">
                  <%= errors.category.msg %>
                </div>
                <%} %>
            </div>
            <div>
              <label for="sku" class="label-filter">SKU</label>
              <input type="text" name="sku" id="sku" class="input-filter" placeholder="Ingresa código unico"
                value="<%= locals.oldData && oldData.sku ? oldData.sku :''%>">
              <% if(locals.errors && errors.sku){%>
                <div class="alert-danger">
                  <%= errors.sku.msg %>
                </div>
                <%} %>
            </div>
          </div>
          <div>
            <div>
              <label for="language" class="label-filter">Idioma</label>
              <input type="text" name="language" id="language" class="input-filter"
                placeholder="Ingresa idioma del libro"
                value="<%= locals.oldData && oldData.language ? oldData.language :''%>">
              <% if(locals.errors && errors.language){%>
                <div class="alert-danger">
                  <%= errors.language.msg %>
                </div>
                <%} %>
            </div>
            <div>
              <label for="edition" class="label-filter">Edición</label>
              <input type="text" name="edition" id="edition" class="input-filter"
                placeholder="Versión de la edición del libro"
                value="<%= locals.oldData && oldData.edition ? oldData.edition :''%>">
              <% if(locals.errors && errors.edition){%>
                <div class="alert-danger">
                  <%= errors.edition.msg %>
                </div>
                <%} %>
            </div>
            <div>
              <label for="pages" class="label-filter">Número de Páginas</label>
              <input type="text" name="pages" id="pages" class="input-filter"
                placeholder="Cantidad de páginas del libro"
                value="<%= locals.oldData && oldData.pages ? oldData.pages :''%>">
              <% if(locals.errors && errors.pages){%>
                <div class="alert-danger">
                  <%= errors.pages.msg %>
                </div>
                <%} %>
            </div>
            <div>
              <label for="chapters" class="label-filter">Número de Capitulos</label>
              <input type="text" name="chapters" id="chapters" class="input-filter"
                placeholder="Cantidad de capitulos del libro"
                value="<%= locals.oldData && oldData.chapters ? oldData.chapters :''%>">
              <% if(locals.errors && errors.chapters){%>
                <div class="alert-danger">
                  <%= errors.chapters.msg %>
                </div>
                <%} %>
            </div>
            <div>
              <label for="image" class="label-filter">Imagen</label>
              <input type="file" name="imagebook" class="input-filter">
              <% if(locals.errors && errors.imagebook){%>
                <div class="alert-danger">
                  <%= errors.imagebook.msg %>
                </div>
                <%} %>
            </div>
            <div>
              <label for="description" class="label-filter">Descripción</label>
              <textarea name="description" id="description" cols="30" rows="6" class="input-filter"
                placeholder="Descripción del libro"><%= locals.oldData && oldData.description ? oldData.description : ''%></textarea>
              <% if(locals.errors && errors.description){%>
                <div class="alert-danger">
                  <%= errors.description.msg %>
                </div>
                <%} %>
            </div>
          </div>
        </section>
        <section class="flexV containerBtn">
          <a href="/admin" class="btn-cancel ">Cancelar</a>
          <button type="submit" class="btn-add">Añadir</button>
        </section>
      </form>
    </section>
  </body>

  </html>