<%- include('../partials/head-admin')%>

  <body class="body-admin">
    <%- include('../partials/header-admin')%>
      <section class="section-title flex">
        <h1>Clientes</h1>
      </section>
      <section class="list-products-admin">
        <table class="table-products">
          <tr>
            <th class="disabledPc">Imagen</th>
            <th>Nombre Completo</th>
            <th class="disabled">Rol</th>
            <th>Acciones</th>
          </tr>
          <% dataUsers.forEach(user=>{%>
            <tr class="article-product-admin">
              <td class="disabledPc">
                <img src="<%= user.image %>" alt="<%= user.name_user %>" title="<%= user.name_user %>">
              </td>
              <td>
                <%= user.name_user+' '+user.last_name%>
              </td>
              <td class="disabled">
                <%= user.role %>
              </td>
              <td class="td-actions">
                <div class="content-actions flexV">
                  <a href="/admin/edit/<%= user.id %>" class="btn-edit ani">
                    <i class="fas fa-edit"></i>
                    <span>Editar</span>
                  </a>
                  <a href="/admin/delete/<%= user.id %>" class="btn-delete ani">
                    <i class="fas fa-trash-alt"></i>
                    <span>Eliminar</span>
                  </a>
                </div>
              </td>
            </tr>
            <%}); %>
        </table>
      </section>
      </section>
      </section>
  </body>

  </html>