<%- include('../partials/head-admin')%>

  <body class="body-add">
    <section class="container-formAdd boxShadow">
      <h2>Editar Producto</h2>
      <form action="/admin/edit/<%= product.sku %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <section class="form-group">
          <div>
            <div>
              <label for="nameBook" class="label-filter">Nombre del libro</label>
              <input type="text" name="nameBook" class="input-filter" placeholder="Ingresa nombre del libro"
                value="<%= product.nameBook %>">
            </div>
            <div>
              <label for="author" class="label-filter">Autor(a)</label>
              <select name="author" class="input-filter">
                <% for (let i=0; i < autores.length; i++) {%>
                  <option value="<%= autores[i].idAuthor%>" <%=autores[i].idAuthor==product.idAuthor ? ' selected' : ''
                    ; %> >
                    <%= autores[i].nameAuthor+' '+autores[i].surnameAuthor%>
                  </option>
                <% } %>
              </select>
            </div>
            <div>
              <label for="price" class="label-filter">Precio</label>
              <input type="text" name="price" class="input-filter" placeholder="Ingresa precio del libro sin IVA"
                value="<%= product.price %>">
            </div>
            <div>
              <label for="publisher" class="label-filter">Editorial</label>
              <input type="text" name="publisher" class="input-filter" placeholder="Nombre de la editorial"
                value="<%= product.publisher %>">
            </div>
            <div>
              <label for="format" class="label-filter">Formato</label>
              <select name="format" class="input-filter">
                <% for (let i=0; i < formatos.length; i++) {%>
                  <option value="<%= formatos[i].idFormat%>" <%=formatos[i].idFormat==product.idFormat ? ' selected'
                      : '' ; %> >
                      <%= formatos[i].nameFormat%>
                  </option>
                  <% } %>
              </select>
            </div>
            <div>
              <label for="category" class="label-filter">Categoria</label>
              <select name="category" class="input-filter">
                <% for (let i=0; i < categorias.length; i++) {%>
                  <option value="<%= categorias[i].idCategory%>" <%=categorias[i].idCategory==product.idCategory
                    ? ' selected' : '' ; %> >
                    <%= categorias[i].nameCategory%>
                  </option>
                  <% } %>
              </select>
            </div>
            <div>
              <label for="sku" class="label-filter">SKU</label>
              <input type="text" name="sku" class="input-filter" placeholder="Ingresa código unico"
                value="<%= product.sku %>">
            </div>
            <div>
              <label for="language" class="label-filter">Idioma</label>
              <input type="text" name="language" class="input-filter" placeholder="Ingresa idioma del libro"
                value="<%= product.languageBook %>">
            </div>
          </div>
          <div>
            <div>
              <label for="edition" class="label-filter">Edición</label>
              <input type="text" name="edition" class="input-filter" placeholder="Versión de la edición del libro"
                value="<%= product.editionBook %>">
            </div>
            <div>
              <label for="pages" class="label-filter">Número de Páginas</label>
              <input type="text" name="pages" class="input-filter" placeholder="Cantidad de páginas del libro"
                value="<%= product.pages %>">
            </div>
            <div>
              <label for="chapters" class="label-filter">Número de Capitulos</label>
              <input type="text" name="chapters" class="input-filter" placeholder="Cantidad de capitulos del libro"
                value="<%= product.chapters %>">
            </div>
            <div>
              <input type="hidden" name="image" value="<%= product.imageProduct%>" />
              <label for="imageBook" class="label-filter">Imagen</label>
              <img id="imageEdit" src=<%="/images/books/" +product.imageProduct %> alt="<%= product.imageProduct %>"
                title="<%= product.imageProduct %>"><input type="file" name="imageBook" class="input-filter">
            </div>
            <div>
              <label for="description" class="label-filter">Descripción</label>
              <textarea name="description" cols="30" rows="8" class="input-filter"
                placeholder="Descripción del libro"><%= product.descriptionBook %></textarea>
            </div>
          </div>
        </section>
        <section class="flexV containerBtn">
          <a href="/admin" class="btn-cancel ">Cancelar</a>
          <button type="submit" class="btn-add">Editar</button>
        </section>
      </form>
    </section>
  </body>

  </html>