<%- include('../partials/head-admin')%>

  <body class="body-add">
    <section class="container-formAdd boxShadow">
      <h2>Editar Producto</h2>
      <form action="/admin/edit/<%= product.sku %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <section class="form-group">
          <div>
            <div>
              <label for="nameBook" class="label-filter">Nombre del libro</label>
              <input type="text" name="nameBook" class="input-filter" placeholder="Ingresa nombre del libro"
                value="<%= product.nameBook %>">
            </div>
            <div>
              <label for="author" class="label-filter">Autor(a)</label>
              <input type="text" name="author" class="input-filter" placeholder="Ingresa autor(a) de libro"
                value="<%= product.author %>">
            </div>
            <div>
              <label for="price" class="label-filter">Precio</label>
              <input type="text" name="price" class="input-filter" placeholder="Ingresa precio del libro sin IVA"
                value="<%= product.price %>">
            </div>
            <div>
              <label for="publisher" class="label-filter">Editorial</label>
              <input type="text" name="publisher" class="input-filter" placeholder="Nombre de la editorial"
                value="<%= product.publisher %>">
            </div>
            <div>
              <label for="format" class="label-filter">Formato</label>
              <input type="text" name="format" class="input-filter" placeholder="Formato del libro ej:Libro"
                value="<%= product.format %>">
            </div>
            <div>
              <label for="category" class="label-filter">Categoria</label>
              <select name="category" id="category-book" class="input-filter">
                <option value="<%= product.category %>">
                  <%= product.category %>
                </option>
                <option value="Historia universal">Historia universal</option>
                <option value="Novela histórica">Novela histórica</option>
                <option value="Feminismo">Feminismo</option>
                <option value="Young adult">Young adult</option>
                <option value="Novela Gráfica">Novela Gráfica</option>
                <option value="Acción">Acción</option>
                <option value="Ficción">Ficción</option>
                <option value="Romántica">Romántica</option>
                <option value="Historia">Historia</option>
                <option value="Suspenso y terror">Suspenso y terror</option>
                <option value="Policiaca">Policiaca</option>
                <option value="Fantástica y ciencia ficción">Fantástica y ciencia ficción</option>
                <option value="Juvenil">Juvenil</option>
                <option value="Novela histórica">Novela histórica</option>
              </select>
            </div>
            <div>
              <label for="sku" class="label-filter">SKU</label>
              <input type="text" name="sku" class="input-filter" placeholder="Ingresa código unico"
                value="<%= product.sku %>">
            </div>
            <div>
              <label for="language" class="label-filter">Idioma</label>
              <input type="text" name="language" class="input-filter" placeholder="Ingresa idioma del libro"
                value="<%= product.language %>">
            </div>
          </div>
          <div>
            <div>
              <label for="edition" class="label-filter">Edición</label>
              <input type="text" name="edition" class="input-filter" placeholder="Versión de la edición del libro"
                value="<%= product.edition %>">
            </div>
            <div>
              <label for="pages" class="label-filter">Número de Páginas</label>
              <input type="text" name="pages" class="input-filter" placeholder="Cantidad de páginas del libro"
                value="<%= product.pages %>">
            </div>
            <div>
              <label for="chapters" class="label-filter">Número de Capitulos</label>
              <input type="text" name="chapters" class="input-filter" placeholder="Cantidad de capitulos del libro"
                value="<%= product.chapters %>">
            </div>
            <div>
              <input type="hidden" name="image" value="<%= product.image%>" />
              <label for="imageBook" class="label-filter">Imagen</label>
              <img id="imageEdit" src=<%="/images/books/" +product.image %> alt="<%= product.image %>" title="<%=
                  product.image %>"><input type="file" name="imageBook" class="input-filter">
            </div>
            <div>
              <label for="description" class="label-filter">Descripción</label>
              <textarea name="description" cols="30" rows="8" class="input-filter"
                placeholder="Descripción del libro"><%= product.description %></textarea>
            </div>
          </div>
        </section>
        <section class="flexV containerBtn">
          <a href="/admin" class="btn-cancel ">Cancelar</a>
          <button type="submit" class="btn-add">Editar</button>
        </section>
      </form>
    </section>
  </body>

  </html>