<%- include('../partials/head')%>

  <body>
    <%- include('../partials/header')%>
      <div class="banners">
      </div>
      <section class="section-news">
        <h2 class="title_one_line">NOVEDADES</h2>
        <div class="novedades">
          <% for(let i=0; i < 8; i++){%>
            <a href="/products/<%= dataBooks[i].id %>">
              <img src="../../images/books/<%= dataBooks[i].image %>" alt="<%= dataBooks[i].name %>"
                title="<%= dataBooks[i].name %>">
            </a>

            <%}; %>
        </div>
      </section>
      <section class="section-recommended">
        <h2 class="title_one_line"><span>RECOMENDADO</span> DEL MES</h2>
        <div class="background_recommended">
          <div class="featured_monthly">
            <img src="../images/featured_monthly_highlights.png" alt="libro_destacado_del_mes"
              title="libro_destacado_del_mes">
          </div>
          <div class="info_featured">
            <h3>HARRY POTTER 7 <span>Y LAS RELIQUIAS DE LA MUERTE</span></h3>
            <div class="content-raiting">
              <div>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <div class="author">
                <p>|</p>
                <p>J.K ROWLING</p>
              </div>
            </div>
            <div>
              <div class="item_featured">
                <h6>Género:</h6>
                <p>Fantástica y ciencia ficción</p>
              </div>
              <div class="item_featured">
                <h6>Publicación original:</h6>
                <p>21 de julio de 2007</p>
              </div>
              <div class="item_featured">
                <h6>Páginas:</h6>
                <p>697</p>
              </div>
            </div>
            <h3>$ 47.000</h3>
            <div class="sinopsis_featured">
              <h5>Sinopsis</h5>
              <p>
                "Entregadme a Harry Potter -dijo la voz de Voldemort- y nadie sufrirá ningún daño. Entregadme a Harry
                Potter
                y
                dejaré el
                colegio intacto. Entregadme a Harry Potter y seréis recompensados." Cuando se monta en el sidecar de la
                moto
                de Hagrid y
                se eleva en el cielo, dejando Privet Drive por última vez, Harry Potter sabe que lord Voldemort y sus
                mortífagos se
                hallan cerca.
              </p>
              <p>El encantamiento protector que había mantenido a salvo a Harry se ha roto, pero él no puede seguir
                escondiéndose. El
                Señor Tenebroso se dedica a aterrorizar a todos los seres queridos de Harry, y, para detenerlo, éste
                habrá
                de
                encontrar
                y destruir los horrocruxes que quedan. La batalla definitiva debe comenzar: Harry tendrá que alzarse y
                enfrentarse a su
                enemigo...
              </p>
            </div>
            <div class="button_white">
              <i class="fas fa-plus"></i>
              <a href="#">
                Ver más
              </a>
            </div>
          </div>
        </div>
      </section>
      <main>
        <section class="featured-generes">
          <h2 class="title_one_line"><span>GÉNEROS</span> DESTACADOS</h2>
          <p>
            Desde la libreria Books te presentamos algunas categorías destacadas para encontrar tú libro favorito
          </p>
          <div class="item_generes">
            <a href="#">Acción</a>
            <a href="#">Ficción</a>
            <a href="#">Romántico</a>
            <a href="#">Fantástica</a>
            <a href="#">Ciencia Ficción</a>
          </div>
          <div class="container-books-featured">
            <% dataBooks.forEach(book=>{%>
              <%#if(book.category=="Romántica"){%>
                <div class="items_home">
                  <a href="/products/<%= book.id %>">
                    <img src="../../images/books/<%= book.image %>" alt="<%= book.name %>" title="<%= book.name %>">
                  </a>
                  <h4>
                    <%= book.name %>
                  </h4>
                </div>
                <%#} %>
                  <%}); %>
          </div>
        </section>
      </main>
      <section class="section-attribute">
        <h2 class="title_one_line"><span>¿POR QUÉ COMPRAR EN</span> LIBRERIA BOOKS?</h2>
        <div class="content-attributes">
          <article>
            <img src="../images/icono_precios.png" alt="icono_precios" title="icono_precios">
            <h3>Los mejores<span>Precios y ofertas</span></h3>
          </article>
          <article>
            <img src="../images/icono_entrega.png" alt="icono_entrega" title="icono_entrega">
            <h3>Rápido y económico<span>Servicio de entrega</span></h3>
          </article>
          <article>
            <img src="../images/icono_compra.png" alt="icono_compra" title="icono_compra">
            <h3>Fácil y 100% segura<span>Compra de libros</span></h3>
          </article>
          <article>
            <img src="../images/icono_libros.png" alt="icono_libros" title="icono_libros">
            <h3>Fácil y rápido<span>Cambio de libros</span></h3>
          </article>
          <article>
            <img src="../images/icono_recibe.png" alt="icono_recibe" title="icono_recibe">
            <h3>Compra en línea<span>Recibe en casa</span></h3>
          </article>
        </div>
      </section>
      <section class="section-newsletter">
        <h2 class="title_one_line"><span>SUSCRÍBETE A NUESTRO</span>NEWSLETTER</h2>
        <p>Entérate de las últimas novedades y recibe descuentos exclusivos</p>
        <div class="content-form-newsletter">
          <form action="/">
            <input type="email" name="email-newsletter" placeholder="Correo electrónico">
            <button type="submit" class="btn-orange">
              Suscribirme
              <i class="far fa-hand-point-up"></i>
            </button>
            <br>
            <div class="checkbox-polity">
              <input type="checkbox" name="" id="">
              <h5>
                Acepto <a href="#"><span class="">
                    políticas de privacidad</span></a> y manejo de datos
              </h5>
            </div>
          </form>
        </div>
      </section>
      <%- include('../partials/footer')%>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script type="text/javascript" src=".././js/functionsCarrusel.js"></script>
  </body>

  </html>