<%- include('../partials/head')%>

  <body>
    <%- include('../partials/header')%>
      <section class="breadcrumb">
        <ul>
          <li>Inicio</li>
          <li>/</li>
          <li class="active_book">Tienda</li>
        </ul>
      </section>
      <section>
        <h1 class="title_one_line"><span>TIENDA DE</span>PRODUCTOS</h1>
      </section>
      <section class="section-list-products">
        <aside class="content-filter">
          <h2>Filtra tu búsqueda</h2>
          <hr>
          <h3>Categoría</h3>
          <ul>
            <li><a href="#">Acción</a></li>
            <li><a href="#">Ficción</a></li>
            <li><a href="#">Romántico</a></li>
            <li><a href="#">Novela gráfica</a></li>
            <li><a href="#">Young adult</a></li>
          </ul>
          <hr>
          <h3>Idioma</h3>
          <ul>
            <li><a href="#">Español</a></li>
            <li><a href="#">Inglés</a></li>
            <li><a href="#">Italiano</a></li>
            <li><a href="#">Alemán</a></li>
            <li><a href="#">Francés</a></li>
          </ul>
          <hr>
          <h3>Fecha de publicación</h3>
          <ul>
            <li><input type="checkbox" name="date_public">-15 días.</li>
            <li><input type="checkbox" name="date_public">-30 días.</li>
            <li><input type="checkbox" name="date_public">-90 días.</li>
          </ul>
          <hr>
          <h3>Precio</h3>
          <input type="range" min="0" max="185900">
        </aside>
        <section class="section-article-products">
          <% dataBooks.forEach(book=>{%>
            <article class="article-product-list">
              <img src="../../images/books/<%= book.image %>" alt="<%= book.name %>" title="<%= book.name %>">
              <h5>
                <%= book.name %>
              </h5>
              <p>
                $<%= book.price %>
              </p>
              <div class="content-btn-list-product">
                <a href="/products/cart" class="btn_circle">
                  <i class="fas fa-shopping-cart"></i>
                </a>
                <a href="/products/<%= book.id %>" class="btn_circle">
                  <i class="fas fa-eye"></i>
                </a>
              </div>
            </article>
            <%}); %>
        </section>
      </section>
      <%- include('../partials/footer')%>
  </body>

  </html>